<section class="login-form">
  <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput [placeholder]="'auth.login.email.placeholder' | translate" formControlName="email">
      <mat-hint>{{'auth.login.email.hint' | translate}}</mat-hint>
      <mat-error>{{'auth.login.email.error' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput [placeholder]="'auth.login.password.placeholder' | translate"
        formControlName="password">
      <mat-hint>{{'auth.login.password.hint' | translate}}</mat-hint>
      <mat-error>{{'auth.login.password.error' | translate}}</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary"
      [disabled]="loginForm.invalid">{{'auth.login.button' | translate}}</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
<div class="mt-50" fxLayout="column" fxLayoutAlign="center center">
  <h4>{{'auth.login.example' | translate}}</h4>
  <mat-form-field>
    <input matInput disabled class="disabled" [attr.placeholder]="'auth.login.email.placeholder'" value="test@test.com">
  </mat-form-field>
  <mat-form-field>
    <input matInput disabled class="disabled" [attr.placeholder]="'auth.login.password.placeholder'" value="123456">
  </mat-form-field>
</div>